* {
  font-family: "DynaPuff", cursive;
}

.list .active {
  background-color: black;
}

.menu li {
  background-color: gray;
  color: red;
}

a {
  color: orange;
  text-decoration: none;
  font-size: 25px;
}

a:hover {
  color: blueviolet;
}

.active:hover {
  background-color: pink;
}

li:hover {
  background-color: red;
  color: aqua;
}

.list {
  list-style-position: inside;
  list-style-type: "🌵";
}

